body {
    background:#19181a ;
    color:yellow;
}

article{
    width: 80%;
    margin:auto;
}

.jumbotron{
   background: #19181a;
   text-align: center;

}
button{
    background: black;
    border-radius: 20%;
}
button a{
    color:yellow;
}
#logo{
    max-width:100px;
}
header h1{
    display: inline;
}
h2{
    text-align: center;
}

#quote{
     font-size: 30px;
}
.guides{
    color:white;
    border-radius: 0%;
    border: 2px solid white;
    width:100%;
}

.guide_content{
  display: none;
}
